name: Auto-approve

on:
  pull_request:
    types: [opened, synchronize, reopened]

permissions: read-all

jobs:
  auto-approve:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    if: github.actor == 'archy-rock3t-cloud' || github.actor == 'dependabot[bot]' || github.actor == 'github-actions[bot]'
    steps:
      - uses: hmarr/auto-approve-action@8f929096a962e83ccdfa8afcf855f39f12d4dac7 # v4
