name: Auto-approve

on:
  pull_request:
    types: [opened, synchronize, reopened]

permissions: read-all

jobs:
  auto-approve:
    runs-on: ubuntu-latest
    if: github.actor == 'archy-rock3t-cloud' || github.actor == 'dependabot[bot]' || github.actor == 'github-actions[bot]'
    steps:
      - uses: actions/create-github-app-token@df432ceedc7162793a195dd1713ff69aefc7379e # v2
        id: app-token
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - uses: hmarr/auto-approve-action@8f929096a962e83ccdfa8afcf855f39f12d4dac7 # v4
        with:
          github-token: ${{ steps.app-token.outputs.token }}
