name: Checkov

on:
  push:
    branches: [main]
    paths:
      - Dockerfile
      - .github/workflows/**
  pull_request:
    branches: [main]
    paths:
      - Dockerfile
      - .github/workflows/**

permissions:
  security-events: write
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  scan:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Run Checkov
        uses: bridgecrewio/checkov-action@f99709f8ccc3496220c987b7d8729653237c23dc # v12
        with:
          directory: .
          framework: dockerfile,github_actions
          output_format: cli,sarif
          output_file_path: console,checkov-results.sarif
          soft_fail: true

      - name: Upload SARIF
        uses: github/codeql-action/upload-sarif@89a39a4e59826350b863aa6b6252a07ad50cf83e # v4
        if: always()
        with:
          sarif_file: checkov-results.sarif
