name: Hadolint

on:
  push:
    branches: [main]
    paths:
      - Dockerfile
      - .github/workflows/hadolint.yml
  pull_request:
    branches: [main]
    paths:
      - Dockerfile
      - .github/workflows/hadolint.yml

permissions: read-all

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Lint Dockerfile
        uses: hadolint/hadolint-action@2332a7b74a6de0dda2e2221d575162eba76ba5e5 # v3.3.0
        with:
          dockerfile: Dockerfile
